workflow.json
{
  "name": "RapidRelease Healthcare Dispatch (Mock)",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger: Doctor Marks Discharge",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      \"PatientID\": \"PAT-8892\",\n      \"BedID\": \"302-A\",\n      \"DoctorNotes\": \"Pt stable afebrile for 24hrs. Chest clear. Saturation 98% on room air. Plan discharge. Continue Augmentin 625mg for 5 days.\",\n      \"InsuranceType\": \"TPA-Corporate\",\n      \"DischargeTime\": \"10:15 AM\"\n    }\n  }\n];"
      },
      "name": "Mock EMR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// SIMULATING AI AGENT\n// Input: Messy Doctor Notes\n// Output: Structured Insurance Justification\n\nconst notes = $input.all()[0].json.DoctorNotes;\n\n// We simulate an AI response here\nconst aiGeneratedJustification = `Clinical Justification for Discharge:\\n1. Patient is hemodynamically stable and afebrile (24hrs).\\n2. Respiratory status: 98% SpO2 on Room Air.\\n3. Medication plan: Oral antibiotics prescribed.\\nRecommendation: Fit for home care.`;\n\nreturn {\n  json: {\n    ...$input.all()[0].json,\n    \"AI_Justification_Draft\": aiGeneratedJustification,\n    \"Status\": \"Ready for Billing\"\n  }\n};\n"
      },
      "name": "AI Agent: Draft Insurance Claim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.InsuranceType }}",
              "operation": "contains",
              "value2": "TPA"
            }
          ]
        }
      },
      "name": "Router: Insurance vs Cash",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"status\": \"success\",\n    \"platform\": \"Slack\",\n    \"recipient\": \"Billing Team\",\n    \"message_sent\": \"🚨 Priority Billing Alert: Patient PAT-8892 (Bed 302-A). Status: Insurance TPA. AI Draft attached.\"\n  }\n};"
      },
      "name": "Mock Slack: Billing Team",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"status\": \"success\",\n    \"platform\": \"Slack\",\n    \"recipient\": \"Housekeeping\",\n    \"message_sent\": \"🧹 Pre-Alert: Bed 302-A will be vacant in approx 2 hours. Prep staff.\"\n  }\n};"
      },
      "name": "Mock Slack: Housekeeping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    }
  ],
  "connections": {
    "Trigger: Doctor Marks Discharge": {
      "main": [
        [
          {
            "node": "Mock EMR Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock EMR Data": {
      "main": [
        [
          {
            "node": "AI Agent: Draft Insurance Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Draft Insurance Claim": {
      "main": [
        [
          {
            "node": "Router: Insurance vs Cash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Insurance vs Cash": {
      "main": [
        [
          {
            "node": "Mock Slack: Billing Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock Slack: Housekeeping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Slack: Housekeeping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
